<!DOCTYPE html>
<html>
	<head>
		<title>Doggis</title>
		<%= csrf_meta_tags %>

		<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
		<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
	</head>

	<body>
		<header class="navbar navbar-fixed-top navbar-inverse">
			<div class="container">
				<nav>
					<ul class="nav navbar-nav navbar-right">
						<li><%= link_to "Home", '/Home' %></li>
						<li><%= link_to "Problems", '/Problems' %></li>
						<li><%= link_to "Account", '/User_Account' %></li>
						<li><%= link_to "Sign In", '/User_Signin' %></li>
						<li><%= link_to "User Creation", '/Create_User' %></li>
					</ul>
				</nav>
			</div>
		</header>
		<main class="content">
			<%= yield %>
		</main>
	</body>
</html>
