<p id="notice"><%= notice %></p>

<p>
  <strong>Problem:</strong>
  <%= @problem_tag.problem_id %>
</p>

<p>
  <strong>Tag:</strong>
  <%= @problem_tag.tag %>
</p>

<%= link_to 'Edit', edit_problem_tag_path(@problem_tag) %> |
<%= link_to 'Back', problem_tags_path %>
