<h1><%= link_to(@user.display_name, @user) %>'s Submissions</h1>

<article>
	<section>
		<h3>All Submissions</h3>
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Problem ID</th>
					<th>Problem</th>
					<th>Timestamp</th>
					<th>Solved?</th>
					<th>Language</th>
					<th>Runtime</th>
				</tr>
			</thead>
			<tbody>
				<% @submissions.each do |subm| %>
				<tr>
					<td><%= subm.problem_id %></td>
					<td><%= link_to(Problem.find(subm.problem_id).name, problem_path(subm.problem_id)) %></td>
					<td><%= subm.timestamp.getlocal.to_s(:long) %></td>
					<td><%= (subm.solved ? "Solved" : (subm.solved == nil ? "" : "Failed")) %></td>
					<td><%= subm.language %></td>
					<td><%= subm.runtime %></td>
				</tr>
				<% end %>
			</tbody>
		</table>
	</section>
</article>
