<p id="notice"><%= notice %></p>

<p>
  <strong>Problem:</strong>
  <%= @problem.problem_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @problem.name %>
</p>

<p>
  <strong>Score:</strong>
  <%= @problem.score %>
</p>

<p>
  <strong>Problem description:</strong>
  <%= @problem.description %>
</p>

<p>
  <strong>Path:</strong>
  <%= @problem.path %>
</p>

<p>
  <strong>Keywords:</strong>
  <% @problem.keywords.each do |kw| %>
    <span class="problem-keyword"><%= kw.keyword %></span>
  <% end %>
</p>

<p>
  <strong>Tags:</strong>
  <% @problem.tags.each do |tg| %>
    <span class="problem-tag"><%= tg.tag %></span>
  <% end %>
</p>

<%= link_to 'Upload Solution', upload_problem_path(@problem) %> |
<%= link_to 'Back', problems_path %>
