<span class="problem-page">
  <div class="panel problem-info">
    <p>
      <strong>Score:</strong>
      <%= @problem.score %>
    </p>
    
    <p>
      <strong>Solves:</strong>
      <%= @problem.solves %>
    </p>

    <p>
      <strong>Keywords:</strong>
      <% @problem.keywords.each do |kw| %>
        <span class="problem-keyword"><%= kw.keyword %></span>
      <% end %>
    </p>

    <% if user_signed_in? and current_user.admin then %>
      <p>
        <strong>Tags:</strong>
        <% @problem.tags.each do |tg| %>
          <span class="problem-tag"><%= tg.tag %></span>
        <% end %>
      </p>
    <% end %>

    <p>
      <strong>Input Files:</strong>
      <% if Dir.exist? @input_path then %>
        <% Dir.entries(@input_path).each do |fname| %>
          <% unless fname == '.' or fname == '..' %>
            <a href="/problems/<%= @problem.problem_id %>/inputs/<%= fname %>" download><%= fname %></a>
          <% end %>
        <% end %>
      <% else %>
        None
      <% end %>
    </p>
  </div>

  <div class="panel description">
    <div class="panel-heading problem-heading">
      <p>
        <strong>
          Problem #
          <%= @problem.problem_id %>:
        </strong>
          <%= @problem.name %>
      </p>
    </div>

    <div class="panel-body problem-description">
      <div class="descriptor">
        <p>
          <strong>Problem description</strong>
        </p>
      </div>

      <p>
        <%= @problem.description %>
      </p>
    </div>
  </div>
</span>

<div class="links">
<%= link_to 'Upload Solution', upload_problem_path(@problem) %> |
<% if user_signed_in? and current_user.admin then %>
<%= link_to('Edit (admin)', edit_problem_path(@problem)) %> |
<% end %>
<%= link_to 'Back', problems_path %>
</div>

<!-- <h3>Solved by</h3> -->
<table class="table table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Solve Date</th>
        </tr>
    </thead>
    <tbody>
        <% @solves.each do |prob| %>
        <tr>
            <td><%= link_to(prob.user.display_name, user_path(prob.user_id)) %></td>
            <td><%= prob.timestamp %></td>

        </tr>
        <% end %>
    </tbody>
</table>
