<p>
  <strong>Problem:</strong>
  <%= @problem.problem_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @problem.name %>
</p>

<p>
  <strong>Score:</strong>
  <%= @problem.score %>
</p>

<p>
  <strong>Solves:</strong>
  <%= @problem.solves %>
</p>

<p>
  <strong>Problem description:</strong>
  <%= @problem.description %>
</p>

<p>
  <strong>Keywords:</strong>
  <% @problem.keywords.each do |kw| %>
    <span class="problem-keyword"><%= kw.keyword %></span>
  <% end %>
</p>

<p>
  <strong>Tags:</strong>
  <% @problem.tags.each do |tg| %>
    <span class="problem-tag"><%= tg.tag %></span>
  <% end %>
</p>

<p>
  <strong>Input Files:</strong>
  <% if Dir.exist? @input_path then %>
    <% Dir.entries(@input_path).each do |fname| %>
      <% unless fname == '.' or fname == '..' %>
        <a href="/problems/<%= @problem.problem_id %>/inputs/<%= fname %>" download><%= fname %></a>
      <% end %>
    <% end %>
  <% else %>
    None
  <% end %>
</p>

<%= link_to 'Upload Solution', upload_problem_path(@problem) %> |
<% if user_signed_in? and current_user.admin then %>
  <%= link_to('Edit (admin)', edit_problem_path(@problem)) %> |
<% end %>
<%= link_to 'Back', problems_path %>
