<p id="notice"><%= notice %></p>

<h1>Problem Keywords</h1>

<table>
  <thead>
    <tr>
      <th>Problem</th>
      <th>Keyword</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @problem_keywords.each do |problem_keyword| %>
      <tr>
        <td><%= problem_keyword.problem_id %></td>
        <td><%= problem_keyword.keyword %></td>
        <td><%= link_to 'Show', problem_keyword %></td>
        <td><%= link_to 'Edit', edit_problem_keyword_path(problem_keyword) %></td>
        <td><%= link_to 'Destroy', problem_keyword, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Problem Keyword', new_problem_keyword_path %>
