<p id="notice"><%= notice %></p>

<h1>Contains</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @contains.each do |contain| %>
      <tr>
        <td><%= link_to 'Show', contain %></td>
        <td><%= link_to 'Edit', edit_contain_path(contain) %></td>
        <td><%= link_to 'Destroy', contain, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Contain', new_contain_path %>
