<%= form_for(tournament) do |f| %>
  <% if tournament.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(tournament.errors.count, "error") %> prohibited this tournament from being saved:</h2>

      <ul>
      <% tournament.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>


  <div class="field">
    <%= f.label :start %>
    <%= f.text_field :start %>
  </div>

  <div class="field">
    <%= f.label :end %>
    <%= f.text_field :end %>
  </div>


  <h3> Problems </h3>

  <table class="table table-striped">
      <thead>
          <tr>
              <th>id</th>
              <th>name</th>
          </tr>
      </thead>
      <tbody>
          <% tournament.problems.each do |prob| %>
            <tr>
                <td><%= prob.id %></td>
                <td><%= prob.name %></td>
            </tr>
          <% end %>

          <tr>
            <td>
                <form accept-charset="UTF-8" action="/tournaments" method="patch">
                  <input type="int" name="problem_id" value="" />
            </td>
            <td>
              
            </td>
          </tr>
      </tbody>
  </table>

  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>
