<h1>Welcome to J²E</h1>

	<div class="welcome">
		<h2>About Us</h2>
		<p> J²E is an online programming judge. </p>
		<p> The purpose of this website is to allow a user to practice their programming skills.  In order to do so there are problems found on this website that a user can attempt to code a solution to and submit it for grading.  If the answer is correct the user's score will increase, if not then the user will be notified that there is a problem with their code. </p>
	</div>


	<div class="clearfix">
		<div class="col-md-6">
			<div class="page-headline clearfix">
				<h3> Top Users </h3>
			</div>

			<table class="table table-striped rankings">
				<thead>
					<tr>
						<th> Rank </th>
						<th> Name </th>
						<th> Score </th>
					</tr>
				</thead>
				<tbody>
					<% @homepage_users.each_with_index do |user, index| %>
					<tr>
						<td><%= index %></td>
						<td><%= link_to(user.display_name, user_path(user.user_id)) %></td>
						<td><%= user.score %></td>
					</tr>
					<% end %>
				</tbody>
			</table>
		</div>

		<div class="col-md-6">
			<div class="page-headline clearfix">
				<h3> Easiest Problems </h3>
			</div>

			<table class="table table-striped problems">
				<thead>
					<tr>
						<th> ID </th>
						<th> Name </th>
						<th> Score </th>
						<th> Solves </th>
					</tr>
				</thead>
				<tbody>
					<% @easiest_problems.each do |prob| %>
					<tr>
						<td><%= prob.problem_id %></td>
						<td><%= link_to(prob.name, problem_path(prob.problem_id)) %></td>
						<td><%= prob.score %></td>
						<td>TODO<!-- TODO: get solves --></td>
					</tr>
					<% end %>
				</tbody>
			</table>
		</div>

		<div class="col-md-6">
			<div class="page-headline">
				<h3> Least Solved Problems </h3>
			</div>

			<table class="table table-striped hard-problems">
				<thead>
					<tr>
						<th> ID </th>
						<th> Name </th>
						<th> Score </th>
						<th> Solves </th>
					</tr>
				</thead>
				<tbody>
					<% @least_solved_problems.each do |prob| %>
					<tr>
						<td><%= prob.problem_id %></td>
						<td><%= link_to(prob.name, problem_path(prob.problem_id)) %></td>
						<td><%= prob.score %></td>
						<td>TODO<!-- TODO: get solves --></td>
					</tr>
					<% end %>
				</tbody>
			</table>
		</div>

		<span class="col-md-6">
			<div class="page-headline">
				<h3> Active Tournaments </h3>
			</div>

			<table class="table table-striped tournaments">
				<thead>
					<tr>
						<th> # </th>
						<th> Tournament </th>
						<th> Started </th>
						<th> Ends </th>
					</tr>
				</thead>
				<tbody>
					<% @homepage_tourneys.each do |tourney| %>
					<tr>
						<td><%= tourney.tournament_id %></td>
						<td><%= (tourney.end < @now ? 'over' : (tourney.start < @now ? 'active' : 'not yet')) %></td>
						<td><%= tourney.start %></td>
						<td><%= tourney.end %></td>
					</tr>
					<% end %>
				</tbody>
			</table>
		</span>
	</div>
