<h1>Welcome to J²E</h1>

	<div class="Welcome">
		<h2>About Us</h2>
		<p> J²E is an online programming judge. </p>
		<p> The purpose of this website is to allow a user to practice their programming skills.  In order to do so there are problems found on this website that a user can attempt to code a solution to and submit it for grading.  If the answer is correct the user's score will increase, if not then the user will be notified that there is a problem with their code. </p>
	</div>


	<div class="clearfix">
		<span class="col-md-6">
			<div class="page-headline clearfix">
				<h3> Top Users </h3>
			</div>

			<table class="rankings">
				<thead>
					<tr>
						<th> Rank </th>
						<th> Name </th>
						<th> Score </th>
					</tr>
				</thead>
				<tbody>
					<% @homepage_users.each do |user| %>
					<tr>
						<td> TODO<!-- TODO: get rank --> </td>
						<td><%= link_to(user.display_name, user_path(user.user_id)) %></td>
						<td><%= user.score %></td>
					</tr>
					<% end %>
				</tbody>
			</table>
		</span>

		<span class="col-md-6">
			<div class="page-headline clearfix">
				<h3> Problems </h3>
			</div>

			<table class="problems">
				<thead>
					<tr>
						<th> ID </th>
						<th> Name </th>
						<th> Score </th>
					</tr>
				</thead>
				<tbody>
					<% @homepage_problems.each do |prob| %>
					<tr>
						<td><%= prob.problem_id %></td>
						<td><%= link_to(prob.name, problem_path(prob.problem_id)) %></td>
						<td><%= prob.score %></td>
					</tr>
					<% end %>
				</tbody>
			</table>
		</span>

		<span class="col-md-6">
			<div class="page-headline clearfix">
				<h3> Least Solved Problems </h3>
			</div>

			<table class="hard_problems">
				<thead>
					<tr>
						<th> ID </th>
						<th> Name </th>
						<th> Score </th>
					</tr>
				</thead>
				<tbody>
					<% @homepage_problems.each do |prob| %>
					<tr>
						<td><%= prob.problem_id %></td>
						<td><%= link_to(prob.name, problem_path(prob.problem_id)) %></td>
						<td><%= prob.score %></td>
					</tr>
					<% end %>
				</tbody>
			</table>
		</span>

		<span class="col-md-6">
			<div class="page-headline clearfix">
				<h3> Active Tournaments </h3>
			</div>

			<table class="tournaments">
				<thead>
					<tr>
						<th> # </th>
						<th> Tournament </th>
						<th> Host </th>
					</tr>
				</thead>
				<tbody>
					<% @homepage_tourneys.each do |tourney| %>
					<tr>
						<td><%= tourney.tournament_id %></td>
						<td><%= (tourney.end < @now ? 'over' : (tourney.start < @now ? 'active' : 'not yet')) %></td>
						<td> Bethesda </td>
					</tr>
					<% end %>
				</tbody>
			</table>
		</span>
	</div>