<div class="panel panel-info">
    <div class="panel-heading">
        <h2 class="panel-title">Please Log In</h2>
    </div>

    <div class="row container">
        <div class="col-md-5 center-text">
            <h3>with OAuth</h3>
            <hr />
            <form method="get" action="<%= request.protocol + request.host_with_port %>/users/auth/google_oauth2">
                <button type="submit"><%= image_tag("oauth/btn_google_dark.svg", class: "login_btn_icon") %> Google</button>
            </form>
            <form method="get" action="https://github.com/login/oauth/authorize">
                <input type="hidden" name="client_id" value="">
                <input type="hidden" name="redirect_uri" value="<%= request.protocol + request.host_with_port %>/auth/github/callback">
                <input type="hidden" name="scope" value="user">
                <button type="submit"><%= image_tag("oauth/GitHub-Mark-120px-dark.png", class: "login_btn_icon") %> GitHub</button>
            </form>

        </div>

        <div class="col-md-7" style="border-left: 1px solid">
            <h3 class="center-text">with credentials</h3>
            <hr />
            <!--<form class="form-horizontal">
                <fieldset>
                    <input id="username-input" name="username" type="text" placeholder="Username" class="form-control input-md">
                    <div class="spacing"><input type="checkbox" name="checkboxes" id="checkboxes-0" value="1"><small>Remember Me</small></div>
                    <input id="password-input" name="password" type="password" class="form-control input-md">
                    <div class="spacing"><a href="#"><small>Forgot Password?</small></a><br /></div>
                    <button id="login-submit" name="login-submit" class="btn btn-info btn-sm pull-right">Log In</button>
                </fieldset>
            </form>-->
            <%= form_for(:session, url: "/auth/login", method: "post", class: "form-horizontal ") do |f| %>
                <%= f.label :username %>
                <%= f.text_field :username, class: 'form-control' %>

                <%= f.label :password %>
                <%= f.password_field :password, class: 'form-control' %>
                <%= f.submit "Log in", class: "btn btn-primary pull-right" %>
            <% end %>
        </div>
    </div>
    <div class="panel-footer">
        <h4>...or <%= link_to("register", register_url) %> a new account.</h4>
    </div>
</div>

