<h1>Problems Page</h1>

<article>
	<% if user_signed_in? and current_user.admin then %>
	<section>
		<h4>Problem Creation</h4>
		<p><%= link_to('Create a New Problem (admin)', :new_problem) %></p>
	</section>
	<% end %>
	<section>
		<h3>All Problems<%=
			if @pg_count > 1
				render inline: " <small>(#{@pg} of #{@pg_count})</small>"
			end
		%></h3>
		<table class="table table-striped">
			<thead>
				<tr>
					<th>ID</th>
					<th>Name</th>
					<th>Value</th>
					<th>Solves</th>
				</tr>
			</thead>
			<tbody>
				<% @problems.each do |prob| %>
				<tr>
					<td><%= prob.problem_id %></td>
					<td><%= link_to(prob.name, problem_path(prob.problem_id)) %></td>
					<td><%= prob.score %></td>
					<td>TODO<!-- TODO: get solves --></td>
				</tr>
				<% end %>
			</tbody>
		</table>
		<%= render partial: 'shared/paginator', locals: { pg: @pg, pg_count: @pg_count } %>
	</section>
</article>
