<h1>Tournaments</h1>

<article>
	<% if user_signed_in? and current_user.admin then %>
	<section>
		<h4>Tournament Creation</h4>
		<%= link_to('Create a New Tournament (admin)', :new_tournament) %>
	</section>
	<% end %>
	<section>
		<h3>All Tournaments<%=
			if @pg_count > 1
				render inline: " <small>(#{@pg} of #{@pg_count})</small>"
			end
		%></h3>
		<table class="table table-striped">
			<thead>
				<tr>
					<th>ID</th>
					<th>Name</th>
					<th>Starts</th>
					<th>Ends</th>
					<th>Status</th>
					<th>Participants</th>
					<th>Languages</th>
				</tr>
			</thead>
			<tbody>
				<% @tourneys.each do |tourney| %>
				<tr>
					<td><%= tourney.tournament_id %></td>
					<td><%= link_to(tourney.name, tournament_path(tourney.tournament_id)) %></td>
					<td><%= tourney.start.getlocal.to_s(:long) %></td>
					<td><%= tourney.end.getlocal.to_s(:long) %></td>
					<td><%= (tourney.end < @now ? 'over' : (tourney.start < @now ? 'active' : 'not yet')) %></td>
					<td><%= CompetesIn.where(tournament_id: tourney.tournament_id).count %></td>
					<td>
					<% for tourney_lang in TournamentLanguage.where(tournament_id: tourney.tournament_id) do %>
						<span class="tournament-language"><%= tourney_lang.language %></span>
					<% end %>
					</td>
				</tr>
				<% end %>
			</tbody>
		</table>
		<%= render partial: 'shared/paginator', locals: { pg: @pg, pg_count: @pg_count } %>
	</section>
</article>
